In [1]:
price1 = 100
price2 = 200

def total():
    tax = 1.1
    return (price1 + price2) * tax

print(total())

330.0

別解1

In [2]:
price1 = 100
price2 = 200
tax = 1.1

def total():
    return price1 + price2

print(total() * tax)

330.0

別解2

In [3]:
def total(price1, price2, tax):
    return (price1 + price2) * tax

print(total(100, 200, 1.1))

330.0